@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, .container {
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    height: 100%;
    margin:0;
}




body {
    display: flex;
    background: url(https://unsplash.it/1920/1080/?random) no-repeat -50px -50px ;
    background-size: cover;
    position: fixed;
    top:0;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div h1, div p {
    text-align: center;
    color: #fff;
}

p {
    width: 500px;
}

.overlay {
    backdrop-filter: blur(16px);
    border-radius: 4px;
    padding:10px;
}
